.on-this-day-card{
    background-color: var(--accent-color);
}

.on-this-day-card h3 {
  margin-top: 30px; 
  font-size: 1.2rem;
  margin-bottom: 12px;
  text-align: center;
}

.event-list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
}

.event-item {
  font-size: 0.9rem;
  line-height: 1.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
}