.login-button, .account-button {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 9999;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(57, 54, 54, 0.25);
  color: white;

  cursor: pointer;
  transition: background 0.2s ease, transform 0.2s ease;
}

.home-button:hover, .account-button:hover {
  background: rgba(0, 0, 0, 0.85);
  transform: scale(1.05);
}
