.header-container {
    display: flex;
    align-items: center;
    padding: 0.35rem 1rem;
    gap: 1rem;
    border-bottom: 1px solid var(--accent-color);
    margin: 0.1rem 1.5rem; 
}

.header-left {
    display: flex;
    gap: 2.4rem;
    flex: 1;
    align-items: center;
}

.header-left p{
    color: var(--accent-color);
    font-weight: 550;
    font-size: larger;
}

.header-left p:hover{
    color: var(--highlight-color);
}

.header-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.logo-img{
    width: 75px;
    height: 75px;
}

.link{
    text-decoration: none;
}