.map-wrap {
  position: relative;           
  height: 100vh;
  width: 75%;
}

.map-wrap canvas {
  position: absolute;
  inset: 0;
  z-index: 1;                  
}


.event-marker {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ff4d4d;
  border: 1px solid white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  z-index: 1000; /* keep above map layers */
  cursor: pointer;
}

